# Godot 4+ specific ignores
.godot/
/android/
*.import
*.uid
addons/
*.csproj.old

# Anything in Assets Folder
# Note Assets folder contents are needed for Resources like themes and spritesheets.
assets

# Ignore editor preferences
.vscode/
docs/

# Ignore Saves directory
saves
